.MyCourse-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
}

.MyCourse-wrapper .l1{
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -1.3%;
    color: #141522;
}

.MyCourse-wrapper .l2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.MyCourse-wrapper .l2 .l22{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.MyCourse-wrapper .l2 .l22 .a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.7%;
    color: #525255;
}

.MyCourse-wrapper .l2 .l22 .b{
    border: 1px solid #CBD5E1;
    padding: 10px 14px;
    border-radius: 12px;
}

.MyCourseSearchBar{
    width: 200%;
}

@media only screen and (max-width: 1300px) {
    .MyCourseSearchBar{
        width: 150%;
    }
}

@media only screen and (max-width: 1150px) {
    .MyCourseSearchBar{
        width: 100%;
    }
}


.MyCourse-wrapper .l3 .l3-inner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}

.MyCourse-wrapper .l3 .l3-inner .myCourse-card{
    box-shadow: 0px 14px 42px 0px #080F340F;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 0 0 auto;
    width: 250px;
}



.MyCourse-wrapper .l3 .l3-inner .myCourse-card .l1 img{
    width: 228px;
    height: 113px;
    border-radius: 12px;
}


.MyCourse-wrapper .l3 .l3-inner .myCourse-card .l2{
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #202020;
}


.MyCourse-wrapper .l3 .l3-inner .myCourse-card .l4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.progress-bar-container {
  width: 100%;
  background-color: #d1d5db; /* Tailwind's gray-300 */
  border-radius: 9999px;
  height: 0.5rem; /* Tailwind's h-2 */
}

.progress-bar-fill {
  background-color: #facc15; /* Tailwind's yellow-400 */
  height: 100%;
  border-radius: 9999px;
}
