.courseLive2-outer{
    background-color: black;
    padding: 4rem 5rem;
    
}

.courseLive2-outer .courseLive2-inner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: #F8B919;
    border-radius: 1.5rem;
    margin: 2rem;
}
.courseLive2-outer .courseLive2-inner .layer2{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
}
.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-upper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-upper .upperTitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}




.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-upper .upperTitle .courseLive2-p1{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 32px;
    line-height: 32.75px;
    letter-spacing: 0%;
    text-transform: capitalize;
}


.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-upper .upperTitle .courseLive2-p2{
    font-family: Montserrat;
    font-weight: 700;
    font-style: italic;
    font-size: 22px;
    line-height: 32.75px;
    letter-spacing: 0%;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
}

.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-upper .courseLive2-benefits{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.7rem;
}

.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-upper .courseLive2-benefits .courseLive2-benefitTitle{
    font-family: Poppins;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-upper .courseLive2-benefits ul li{
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 0.5rem;
    letter-spacing: 0%;
    text-transform: capitalize;
}



.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 1rem;
}

.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-price .courseLive2-amt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-price .courseLive2-amt .courseLive2-t1{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.434);
}

.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-price button{
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 2rem;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    border: none;
}


.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-left{
    position: relative;
    width: 50%; 
    /* min-width: 60px;  */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-left .courseLive2-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    padding-left: 5rem;
}
.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-left .courseLive2-info .courseLive2-t1{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 65px;
    line-height: 80px;
    letter-spacing: 0%;
    text-transform: capitalize;
}


.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-left .courseLive2-info .courseLive2-t2{
    font-family: Poppins;
    font-weight: 600;
    font-size: 20px;
    line-height: 16.37px;
    letter-spacing: 0%;
    text-transform: capitalize;
}


.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-left .courseLive2-info .courseLive2-t3{
    background-color: black;
    color: white;
    padding: 2rem;
    border-radius: 1rem;
    font-family: Poppins;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0%;
    text-transform: capitalize;
    width: 80%;
    text-align: left;
}

.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-left .courseLive2-info .courseLive2-t3 span.bolding{
    font-weight: bold;
}


.courseLive2-outer .courseLive2-inner .layer2 .courseLive2-left .courseLive2-title{
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left top;
    white-space: nowrap;
    font-family: Poppins;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    left: 0;
    top: 80%;
    letter-spacing: 100%;
    /* translate: 0 -50%; */
}

.courseLive2-outer .layer1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.courseLive2-outer .layer1 img{
    width: 220px;
    height: 220px;
    transform: translate(-100%,70%);
}

.courseLive2-outer .layer3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.courseLive2-outer .layer3 img{
    transform: translate(-10%, -100%);
}

@media only screen and (max-width: 1024px) {
    .courseLive2-outer{
        padding: 4rem 0;
    }
    .courseLive2-outer .courseLive2-inner .layer2 .courseLive2-left{
        width: 100%;
    }
    .courseLive2-outer .courseLive2-inner{
        padding: 1rem;
    }
    .courseLive2-outer .courseLive2-inner .layer2 .courseLive2-left .courseLive2-info .courseLive2-t1{
        font-size: 40px;
        line-height: 45px;
    }
    .courseLive2-outer .courseLive2-inner .layer2{
        flex-wrap: wrap;
        justify-content: center;
    }
    .courseLive2-outer .courseLive2-inner .layer2 .courseLive2-left .courseLive2-info{
        padding-left: 0;
        align-items: center;
        gap: 1rem;
    }
    .courseLive2-outer .courseLive2-inner .layer2 .courseLive2-left .courseLive2-info .courseLive2-t3{
        width: 100%;
        padding: 1rem;
        font-size: 16px;
    }
    .courseLive2-outer .courseLive2-inner .layer2 .courseLive2-left .courseLive2-title{
        /* left: -80px;
        top: 70%; */
        display: none;
    }
    .courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-upper .upperTitle .courseLive2-p1{
        padding-top: 2rem;
        font-size: 24px;
        line-height: 25px;
    }
    .courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-upper .upperTitle .courseLive2-p2{
        font-size: 14px;
    }
    .courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-upper .courseLive2-benefits .courseLive2-benefitTitle{
        font-size: 14px;
        line-height: 16px;
    }
    .courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-upper .courseLive2-benefits ul li{
        font-size: 14px;
        line-height: 16px;
    }
    .courseLive2-outer .layer1 img{
        /* transform: translate(50%,50%);
        width: 100px;
        height: 100px; */
        display: none;
    }
    .courseLive2-outer .layer3 img{
        /* transform: translate(-30%,-80%); */
        display: none;
    }
    .courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-price .courseLive2-amt{
        font-size: 20px;
        line-height: 24px;
    }
    .courseLive2-outer .courseLive2-inner .layer2 .courseLive2-right .courseLive2-price button{
        font-size: 14px;
    }
}


@media (min-width: 1275px) and (max-width: 1450px) {
    .courseLive2-outer .layer1 img{
        transform: translate(-45%,70%);
    }
}


@media (min-width: 1024px) and (max-width: 1275px) {
    .courseLive2-outer .layer1 img{
        transform: translate(-10%,70%);
    }
}