/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media (min-width: 1700px) {
  .max-wdh{
    max-width: 1900px;
  }
  .out-max-wdh{
    justify-content: center;
  }
}


/* For i-pads */
@media (min-width: 768px) and (max-width: 1024px) {
    .OuterHero-wrapper{
        justify-content: center;
    }
    .OuterHero-wrapper  .left-half{
        align-items: center;
    }
    .OuterHero-wrapper  .left-half .layer1{
        text-align: center;
    }
    .outerStudentSay .innerStudentSay .testDesc{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .card{
        width: 400px !important;
        height: fit-content !important;
    }
    .Features-Wrapper .upperContainer .content .detail{
        padding-left: 1rem;
    }
    .gurukul-outer-wrapper .gurukul-inner-wrapper .right .guruRight{
        padding: 1rem 3rem;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .Values-left{
      flex: unset;
    }
    .SubjectsOuterWrapper .SubjectsInnerWrapper .cardSectionCourse{
      grid-template-columns: repeat(2, 1fr);
    }
    .StudentCardComponent-Outer{
      height: 500px;
    }
    .FAQCardComponent-Outer{
      height: 350px;
    }
    .outerWrapper .innerWrapper .level2{
      justify-content: center;
    }
    .outerWrapper .innerWrapper .secl2{
      justify-content: center;
    }
    .SubjectsOuterWrapper .SubjectsInnerWrapper .cardSection{
      gap: 1rem;
    }
    .SubjectsOuterWrapper .SubjectsInnerWrapper{
      padding: 4rem 1.5rem;
    }
}


@media (min-width: 500px) and (max-width: 768px) {
  .card{
    width: 400px !important;
    height: fit-content !important;
  }
}


@media only screen and (max-width: 400px) {
  .card{
    width: 300px!important;
    height: fit-content !important;
  }
}

@media only screen and (max-width: 1024px) {
  .hideSmall{
    display: none;
  }
}